* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#pokedex {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

#pokedex header {
  height: 30vh;
  background: url("../img/header-bg.jpg") center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pokedex header .headerH1 {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

#pokedex header .headerH1 h1 {
  font-size: 3rem;
  color: #c00c0c;
  padding: 1rem 2rem;
}

#pokedex main .pokedexCtn {
  position: relative;
}

#pokedex main .pokemonImgCtn {
  height: 140px;
  width: 256px;
  border-radius: 16px;
  /*background: #fff;*/
  position: absolute;
  top: 198px;
  left: 169px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
}

#pokedex main .pokemonImgCtn .row:first-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#pokedex main .pokemonImgCtn .row:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1.2rem 0 1.2rem;
}

#pokedex main .pokemonImgCtn .row:nth-child(2) p {
  margin-right: .3rem;
  line-height: 1rem;
  margin-bottom: 0;
}

#pokedex main .pokemonImgCtn .row:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pokedex main .idBtnCtn {
  position: absolute;
  top: 428px;
  left: 212px;
}

#pokedex main .idBtnCtn .idBtnStyle {
  padding: .2rem;
  font-size: 1.2rem;
  width: 60px;
  margin-right: 11px;
}

#pokedex main .idScreenCtn {
  width: 60px;
  text-align: center;
  position: absolute;
  top: 485px;
  left: 250px;
}

#pokedex main .nameAndMovesCtn {
  background: #adff2f;
  -webkit-box-shadow: 0 0 3px 3px #c1ff62;
          box-shadow: 0 0 3px 3px #c1ff62;
  width: 300px;
  height: 136px;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 165px;
  left: 548px;
}

#pokedex main .nameAndMovesCtn h5 {
  text-align: center;
  margin-bottom: 1rem;
}

#pokedex main .nameAndMovesCtn li {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  list-style-type: none;
  font-family: 'BenchNine', sans-serif;
  line-height: 1rem;
}

#pokedex main .warningCtn {
  display: none;
  position: absolute;
  width: 300px;
  text-align: center;
  z-index: 2;
  top: 310px;
  left: 548px;
}

#pokedex main .warningCtn p {
  background: white;
  color: #c00c0c;
  border-radius: 5px;
}

#pokedex main .searchCtn {
  padding: 1.2rem 0;
  background: #c00c0c;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 320px;
  left: 548px;
}

#pokedex main .searchCtn input {
  padding-left: .5rem;
  height: 35px;
  width: 200px;
  margin-right: .5rem;
  outline: none;
}

#pokedex main .searchCtn button {
  width: 50px;
}

#pokedex main .evolutionImgCtn {
  position: absolute;
  top: 434px;
  left: 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pokedex main .evolutionImgCtn > div {
  background: rgba(255, 255, 255, 0.9);
  height: 100px;
  width: 110px;
  -webkit-box-shadow: inset -5px -5px 5px -5px rgba(0, 0, 0, 0.75), inset 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
          box-shadow: inset -5px -5px 5px -5px rgba(0, 0, 0, 0.75), inset 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  margin: 0 2px;
}

#pokedex main .evolutionImgCtn > div img {
  cursor: pointer;
}

#pokedex footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */